<div class="container">
  <div class="row mt-4">
    <h1 class="text-center">Kerala Tourism</h1><hr> 
  </div>
  <div class="row mt-4">
    @for (item of districts; track $index) {  
        <div class="col-6 mt-5">
          <div class="card text-center round" style="width: 40rem; height: 40rem;">
            <img src={{item.image}} alt="..." class="round">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.desc}}</p>
              <a href="#" class="btn button-57 mt-auto"><span class="text">Plan</span><span>Visit</span></a>
            </div>
          </div>
        </div>
    }

  </div>
</div>
